body {
    background: linear-gradient(to right, #FFB6C1, #FFC0CB); /* Colores pastel rosa */
    text-align: center;
}

body a {
    font-size: 40px;
    padding: 15px;
    border-radius: 15px;
    background-color: #FF69B4; /* Rosa fuerte */
    color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

body a:hover {
    background-color: #FF1493; /* Rosa oscuro */
    transform: scale(1.1);
}

body p {
    color: #8B008B; /* Morado oscuro */
    font-size: 40px;
}

body h1 {
    color: white;
    background-color: #FF69B4; /* Rosa fuerte */
    font-size: 80px;
    border-radius: 15px;
    padding: 10px;
    margin: 50px;
    box-shadow: 3px 3px #C71585, 5px 0 1em #8B008B; /* Sombra morada */
    transition: box-shadow 0.3s ease;
}

body h1:hover {
    box-shadow: 3px 3px #DB7093, 7px 0 1.2em #8B008B; /* Sombra con tonos más claros */
}

#buttonContainer {
    margin-top: 20px;
}
